.sidebar , .content, .header{
    border:1px solid #eee;
    border-radius: 5px;
}
.header{
    padding: 20px;
}
.column.postBox {
    width: 90%;
    margin: 5%;
    line-height: 28px;
    background: #f3f3f3;
    padding: 5px 15px;
    border-radius: 5px;
}
.column.postBox .postTitle {
    font-weight: 700;
}
.column.postBox .postBody {

}

.column.widget{
    width: 90%;
    margin: 5%;
    line-height: 28px;
    background: #f3f3f3;
    padding: 5px 15px;
    border-radius: 5px;
}
.column.widget .wgtTitle {
    font-weight: 700;
}
.column.widget .wgtBody {

}

.row .column.column-offset-3 {
    margin-right: 3%
}